@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager navigation

<div><h3>Logging out...</h3></div>

@code {
    [CascadingParameter]
    public HttpContext? httpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (httpContext.User.Identity.IsAuthenticated)
        {
            await httpContext.SignOutAsync();
            navigation.NavigateTo("/login", true);
        }
    }

}
